<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button> -->
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel></ng-template>
          <div class="card">
            <label class="card-header" id="headingOne">
             <h5 class="mb-0">
               <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 1.1 Choose your Phone
               </button>
             </h5>
           </label> <!-- Title heading -->
               <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
               <div class="card-body row">

                     <input type="radio" name="gender" class="sr-only" id="iphonex">
         <label for="iphonex" class="text-center">
           <img src="https://www.squashthebeef.com/cmsAdmin/uploads/iphonex.png" alt="iphonex" class="img-fluid phone">
           <span>iPhone Xs</span>
         </label>
                  <!-- phone One -->

                    <input type="radio" name="gender" class="sr-only" id="iphone9">
         <label for="iphone9" class="text-center">
           <img src="https://www.squashthebeef.com/cmsAdmin/uploads/iphonex.png" alt="iphone9" class="img-fluid phone">
           <span>iPhone x</span>
         </label>
                <!-- phone Two -->
                 <input type="radio" name="gender" class="sr-only" id="iphone9s">
         <label for="iphone9s" class="text-center">
           <img src="https://www.squashthebeef.com/cmsAdmin/uploads/iphonex.png" alt="iphone9s" class="img-fluid phone">
           <span>iPhone 9</span>
         </label>
                 <!-- phone three -->
               </div><!-- Card Body -->
           </div>
         </div><!-- Card Form select phone -->
         <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                1.2 Select Your Carrier
              </button>
            </h2>
          </div><!-- Heading Two -->
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteCarrier">
              <mat-radio-button class="example-radio-button" *ngFor="let carrier of carriers" [value]="carrier">
                {{carrier}}
              </mat-radio-button>
            </mat-radio-group>
            <div class="example-selected-value">Your Choosen Carrier is: {{favoriteCarrier}}</div>
          </div><!-- Card Selecting the Carrier -->
         </div><!-- Card Ends -->

         <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                1.3 Select Your Carrier
              </button>
            </h2>
          </div><!-- Heading Two -->
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <mat-radio-group class="example-radio-group" [(ngModel)]="mobileStorage">
              <mat-radio-button class="example-radio-button" *ngFor="let stge of storage" [value]="stge">
                {{stge}}
              </mat-radio-button>
            </mat-radio-group>
            <div class="example-selected-value">Your device storage is: {{mobileStorage}}</div>
          </div><!-- Card Selecting the Carrier -->
         </div><!-- Card Ends -->
          <div>
            <button mat-button matStepperNext class="btn btn-outline-success matButton">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel></ng-template>
          <div class="card">
          <div class="card-header" id="headingFour">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                2.1 What is the Condition of the device?
              </button>
            </h2>
          </div><!-- Heading Two -->
          <mat-radio-group class="example-radio-group" [(ngModel)]="mobileCondition">
            <mat-radio-button class="example-radio-button" *ngFor="let cond of condition" [value]="cond">
              {{cond}}
            </mat-radio-button>
          </mat-radio-group>
          <div class="example-selected-value">Your device condition is: {{mobileCondition}}</div>
          </div>
          <div class="card">
          <div class="card-header" id="headingFour">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                2.1 What is the Condition of the device?
              </button>
            </h2>
          </div><!-- Heading Two -->
          <mat-radio-group class="example-radio-group" [(ngModel)]="mobileCondition">
            <mat-radio-button class="example-radio-button" *ngFor="let cond of condition" [value]="cond">
              {{cond}}
            </mat-radio-button>
          </mat-radio-group>
          <div class="example-selected-value">Your device condition is: {{mobileCondition}}</div>
          </div>
          <!-- 2.2 section -->
          <div class="card">
              <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    2.2 Does the Device power On?
                  </button>
                </h2>
              </div><!-- Heading Two -->
              <mat-radio-group class="example-radio-group" [(ngModel)]="devicePowerOnOff">
                <mat-radio-button class="example-radio-button" *ngFor="let pow of powerOnOff" [value]="pow">
                  {{pow}}
                </mat-radio-button>
              </mat-radio-group>
              <div class="example-selected-value">Your device condition is: {{devicePowerOnOff}}</div>
              </div>
          <div>
            <button mat-button matStepperPrevious class="btn btn-outline-danger matButton">Back</button>
            <button mat-button matStepperNext class="btn btn-outline-success matButton">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel></ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious class="btn btn-outline-warning matButton">Back</button>
          <button mat-button (click)="stepper.reset()" class="btn btn-outline-secondary matButton">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
