.card {
  border: none;
  background-color: var(--bg-lightGray);
}
.card-header {
  background-color: var(--bg-lightGray);
  padding: 0.5rem 0.25rem;
  border-bottom: none;
}

.body-card {
  padding: .5rem !important;
  text-align: center;
}

.pad15 {
  padding: 0.5rem;
  width: 39vw;
}

.checkout {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1.2rem;
  margin-bottom: 1rem;
  background-color: #f6f5f6
}
.card-body-checkout {
  padding: 0 !important;
}

.border-line {
  justify-content: center;
}

.shadow {
  padding: 2%;
}

.bg-darkgray {
  background-color: var(--bg-darkgray);
}

.example-radio-button:checked {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(50, 50, 50, 0.7) !important;
  -moz-box-shadow:    0px 0px 10px 5px rgba(50, 50, 50, 0.7) !important;
  box-shadow: 0px 0px 10px 5px rgba(50, 50, 50, 0.7) !important;
  width: 41vw;
  border-radius: 5px;
  height: 32.5vh;
}

/* css para condition on check */
.bg-orange {
  background-color: var(--bg-orange);
  padding-bottom: 100px;
}
.p-orange {
  color: snow;
}

.w-space {
  background: snow;
  position: absolute;
  padding-bottom: 18px;
  left: 5px;
  padding-left: 30px;
}

.container-fluid {
  background-color: var(--bg-lightGray);
}
.matButton {
  margin-right: .5rem;
}
.phone {
  padding-top: 0;
  margin: auto;
  display: flex;
  align-content: center;
  width: 10rem;
  padding-right: 10px; /* testing mobile size delete later */
}

#mat-radio-23 {
  padding-top: 4%;
}

#mat-radio-26 {
  padding-top: 4%;
}
#mat-radio-27 img {
  width: 50px !important;
}

.btn-size {
  width: 125px;
}

span {
  text-align: center;
}

label {
  cursor: pointer;
 /* filter: grayscale(100%); */
}
.next {
  background-color: #fff;
  border: none;
  text-align: left;
}

.btn-outline-hufix {
  border: 1px solid var(--darkes-blue);
}

/* label:hover {
  filter: grayscale(0);
} */
.example-radio-group {
    display: inline-flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    padding-bottom: 3rem;
    width: 100%;
}
.btn-r {
  width: 100%;
  padding: .7rem;
  /* border: 1px solid var(--bg-gray); */
  padding-bottom: .2rem;
  margin-bottom: -6px !important;
}

.spinner {
  width: 100%;
}
mat-spinner {
  margin: auto;
}

mat-horizontal-content-container {
  overflow: hidden;
  padding: 0 !important;
}

mat-step-icon-state-number mat-step-icon mat-step-icon-selected {
  background-color: var(--orange) !important;
  color: #fff;
}
 mat-step-icon-state-done,
 mat-step-header
 mat-step-icon-state-edit {
   background-color: var(--orange) !important;
   color:#fff
  }

mat-radio-button span {
  font-weight: bold;
  color: var(--text-blue) !important;
  font-size: 85%;
  position: relative;
  left: -4%;
}

.btn-radio-check {
  background-color: var(--orange) !important;
  color: snow;
  padding-bottom: 80px !important;
}
.bg-white {
  background-color: var(--bg-lightGray) !important;
  color: var(--bg-color);
  padding-bottom: 5%;
  position: absolute;
  left: .36rem;
  padding-left: 2.6rem;
  width: 97%;
  border: 1px solid #eee;
}

/* animation */
@-webkit-keyframes slideInDown {
  from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
  }
  to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
  }
  to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}


@-webkit-keyframes fadeInUp {
  from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
  }
  to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
  }
  to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.form-check {
  display: inline-block !important;
  padding-left: 3.25rem !important;
}

.fs15 {
  font-size: 1.5rem;
}

mat-radio-button {
  background-color: #ffffff;
}
/* mat-radio-button:checked + label {
  filter: grayscale(0);
  display: flex;
} */

mat-horizontal-stepper {
  background-color: var(--bg-lightGray);
}
mat-radio-container {
  display: none !important;
}

.mat-form-field-flex {
  width: 25% !important;
}
.mat-form-field-underline {
  width: 54px !important;
}

.collapse {
  font-weight: 500 !important;
}
.btn-link {
  border-top: 1px solid var(--bg-gray);
  width: 100%;
  padding-top: 1.5rem;
  color: var(--text-blue);
  font-weight: 500;
  text-decoration: none;
}
h5 {
  font-weight: bold;
}
h5:active {
  font-weight: 900 !important;
}
.line-sep {
  border-bottom: 1px solid #ccc;
}
.w-space-pw {
  white-space: pre-wrap;
}
/* css Form */
#card-b {
  padding: 0 !important;
}


/*css Form ends*/

.none-pad {
  padding: 0;
}

/* Radio buttons*/
.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.btn-radio {
  width: 100%;
  padding: .7rem;
  border: 1px solid var(--bg-gray);
  padding-bottom: .2rem;
  margin-bottom: -6px !important;
}
#btn-radio-21:active {
  background-color: var(--orange) !important;
}

.example-selected-value {
  margin: 15px 0;
}

.carrier-img {
  width: 5rem;
}
.m-btn {
  padding: .5rem;
  background-color: #ccc;
}

.text-dev_price {
  font-size: 4rem;
  font-weight: bold;
  color: var(--orange);
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: center;
}
.btn-checkout {
  background-color: var(--bg-color);
  color: snow;
  border-radius: 30px;
  font-size: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
}

.btn-process_checkout {
  background-color: var(--bg-color);
  color: snow !important;
  border-radius: 30px;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

hr {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 6rem;
  color: var(--bg-color);
  font-weight: 800;
  border-top: 2px solid var(--bg-color);
  margin-left: 40%;
}
ul {
  padding-inline-start: 0 !important;
}
ul li {
  list-style: none;
}
.quantity {
  display: flex;
  flex-wrap: wrap;
}
.quantity input {
  width: 45%;
  border-radius: 15px;
}
strong {
  margin-right: 1rem;
}
.btn-orange {
  background-color: var(--bg-orange);
  color: snow;
  border-radius: 30px;
  font-size: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.mat-radio-container {
  visibility: hidden !important;
}
.detailsimg {
  width: 10rem;
}
small {
  font-size: .8rem;
}
.col-2 {
 padding: 0;
}
.card-body-cart {
  padding: .75rem !important;
  background-color: var(--bg-lightGray);
  margin: .25rem;
}
.card-body-cart strong {
  margin-right: 0;
}
.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}
.btn-order {
  width: 100%;
  background-color: var(--orange);
  border-radius: 35px;
  color: snow;
  padding: 0.85rem;
  font-size: 1.5rem;
}
.cartSelling {
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}

.pl-price {
  padding-left: 10px !important;
  margin-top: auto;
  margin-bottom: auto;
}
.vert-align {
  margin-top: auto;
  margin-bottom: auto;
}

mat-horizontal-content-container {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.lds-spinner {
  margin: auto;
}

@media (max-width: 568px) {
  .phone {
    /* all comment section it testing this size its for testing erase later */
    /* width: 7.5rem; */
    width: 5.5rem;
   /*  padding-right: 7%;
    padding: 1rem 1rem 1.3rem 0.5rem; */
  }
  .col-4 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .pl-price {
    padding-left: 15px !important;
  }
  hr {
    display: none;
  }
  .col-md-3 {
    width: 50%;
  }
  .cartImg {
    width: 5rem;
  }
}


/* CSS de Pruebas */
.option1{
  background:  url("https://upload.wikimedia.org/wikipedia/commons/f/f9/Phoenicopterus_ruber_in_S%C3%A3o_Paulo_Zoo.jpg")  center / contain no-repeat;
  white-space: nowrap

}


.option2{
  background:  url("https://raw.githubusercontent.com/mdn/learning-area/master/html/multimedia-and-embedding/images-in-html/dinosaur_small.jpg")  center / contain no-repeat;
  white-space: nowrap;
  display:inline
}

.btn-test {
  width: 40%;
  height: 80px;
  text-align: center;
}
.btn-label-test {
  margin: auto;
  padding-top: 10%;
}
