.matButton {
  margin-right: .5rem;
}
.phone {
  margin: auto;
  display: flex;
  align-content: center;
  width: 10rem;
}

span {
  text-align: center;
}

label {
  cursor: pointer;
  filter: grayscale(100%);
}

label:hover {
  filter: grayscale(0);
}
.example-radio-group {
    display: inline-flex;
    flex-direction: row !important;
    flex-wrap: wrap;
}

mat-radio-button:checked + label {
  filter: grayscale(0);
  display: flex;
}

/* Radio buttons*/
.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

.carrier-img {
  width: 3rem;
}
.m-btn {
  padding: .5rem;
  background-color: #ccc;
}

.text-dev_price {
  font-size: 4rem;
  font-weight: bold;
  color: var(--orange);
}
.btn-checkout {
  background-color: var(--bg-color);
  color: snow;
  border-radius: 30px;
  font-size: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.btn-process_checkout {
  background-color: var(--bg-color);
  color: snow;
  border-radius: 30px;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

hr {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 14rem;
  color: var(--bg-color);
  font-weight: 800;
  border-top: 2px solid var(--bg-color);
  margin-left: 40%;
}
ul {
  padding-inline-start: 0 !important;
}
ul li {
  list-style: none;
}
.quantity {
  display: flex;
  flex-wrap: wrap;
}
.quantity input {
  width: 45%;
  border-radius: 15px;
}
strong {
  margin-right: 1rem;
}
.btn-orange {
  background-color: var(--bg-orange);
  color: snow;
  border-radius: 30px;
  font-size: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.mat-radio-container {
  visibility: hidden !important;
}

@media (max-width: 568px) {
  .phone {
    width: 6rem;
  }
  .col-4 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  hr {
    display: none;
  }
  .col-md-3 {
    width: 50%;
  }
}


/* CSS de Pruebas */
.option1{
  background:  url("https://upload.wikimedia.org/wikipedia/commons/f/f9/Phoenicopterus_ruber_in_S%C3%A3o_Paulo_Zoo.jpg")  center / contain no-repeat;
  white-space: nowrap

}


.option2{
  background:  url("https://raw.githubusercontent.com/mdn/learning-area/master/html/multimedia-and-embedding/images-in-html/dinosaur_small.jpg")  center / contain no-repeat;
  white-space: nowrap;
  display:inline
}
