/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,600i,700,700i,800,800i,900,900i|Catamaran');



html, body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: var(--bg-lightGray);
}
:root {
  --bg-color: #002d45;
  --bg-color-t: rgb(0, 45, 69,.35);
  --orange : #d98100;
  --orange-t: rgb(217, 129, 0, .54);
  --bg-orange: #ff9900;
  --light-blue: #0073e4;
  --dark-blue: #002d45; /* footer */
  --darkes-blue: #001926; /* mini-footer */
  --text-blue: #002d45;
  --bg-lightGray: #fafafa;
  --bg-darkgray: #efefef;
  --bg-gray: #c3c3c3;
  --font-cat: 'Raleway', sans-serif;
}

.mat-horizontal-content-container {
  overflow: hidden;
  padding: 0 !important;
}

.mat-step-header .mat-step-icon-selected {
  background-color: var(--orange);
  color: #fff;
}
.mat-radio-label {
  display: inline-flex;
  align-content: center;
  margin-bottom: -.15rem;
}
.spn {
  text-align: center !important;
}

/* css form orange onclick */


.mat-step-header .mat-step-icon {
  background-color: var(--bg-color-t);
}
.mat-step-header .mat-step-icon-state-edit {
  background-color: var(--bg-color);
  color: #fff;
}
.mat-step-header .mat-step-icon-selected {
  background-color: var(--orange);
  color: #fff;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: var(--orange);
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: var(--orange);
}
.mat-radio-outer-circle {
  border-color: var(--orange-t);
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: var(--bg-orange);
}

/* radio button choose phone */
#rb .mat-radio-container {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 0px !important;
  height: 0px !important;
  flex-shrink: 0;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
#rb .mat-radio-button {
  text-align: center !important;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#pm .mat-radio-container {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 0px !important;
  height: 0px !important;
  flex-shrink: 0;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
#pm .mat-radio-button {
  text-align: center !important;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#s .mat-radio-container {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 0px !important;
  height: 0px !important;
  flex-shrink: 0;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
#s .mat-radio-button {
  text-align: center !important;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#dpo .mat-radio-container {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 0px !important;
  height: 0px !important;
  flex-shrink: 0;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
#dpo .mat-radio-button {
  text-align: center !important;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#di .mat-radio-container {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 0px !important;
  height: 0px !important;
  flex-shrink: 0;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
#di .mat-radio-button {
  text-align: center !important;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#pm .mat-radio-container {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 0px !important;
  height: 0px !important;
  flex-shrink: 0;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
#pm .mat-radio-button {
  text-align: center !important;
  border: 1px solid #ccc;
  border-radius: 5px;
}




.mat-radio-label-content {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    display: inline-block;
    order: 0;
    line-height: inherit;
    padding-left: 9px;
    padding-right: 3px;
}

/*.w-sw {
  position: absolute;
  background-color: #fff;
  left: 12%;
  width: 78%;
}
*/
.backcolor {
  background-color: var(--orange) !important;
  position: absolute;
  width: 96%;
  left: 6px;
  top: 108px;
  padding: .5rem;
  color: snow;
}
.backpad {
  height: 85px !important;
  padding-bottom: 7.2rem;
}
