<div class="container-fluid bg-img"></div>
<div class="container">
      <h3 class="text-center">Recents Blog Articles</h3>
      <div class="row">
        <div class="col-md-4">
            <div class="card bg-dark text-white shadow" style="min-width: 10rem;">
                <img src="../../assets/img/Web-Hufix-girl.jpg" class="card-img m-auto" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-tit shadow">Smartphones</h5>
                  <p class="card-text">Article title and some details.</p>

                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-dark text-white shadow" style="min-width: 10rem;">
                <img src="../../assets/img/Web-Hufix-handTablet.jpg" class="card-img m-auto" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-tit shadow">Smartphones</h5>
                  <p class="card-text">Article title and some details.</p>

                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-dark text-white shadow" style="min-width: 10rem;">
                <img src="../../assets/img/Web-Hufix-handPhone.jpg" class="card-img m-auto" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-tit shadow">Smartphones</h5>
                  <p class="card-text">Article title and some details.</p>

                </div>
              </div>
        </div>
      </div>
</div>
