<div class="container-fluid">
<div class="row bg-color text-center">
  <div class="col-md-6 pad">
    <h3 class="mt=1">
      Don't let your old device get older
    </h3>
    <p>
      Sell it and get some nice <strong><em>cash</em></strong>
      Even the broken ones!
    </p>
    <button class="btn btn-orange text-center btn-lg">
      GET CASH NOW
    </button>
  </div>
  <div class="col-md-6">
    <img src="../../assets/img/changeMM-2x.png" alt="" class="img-fluid text-center">
  </div>
</div>
<div class="row text-center pad-5">
  <div class="col-md-6">
    <img src="../../assets/img/brokenDevice-2x.png" alt="" class="img-fluid">
  </div>
  <div class="col-md-6 pad">
    <h3>We buy broken Screen</h3>
    <p>We accept phones with broken screen or
      or even fully broken and cannot power on.
    </p>
    <button class="btn btn-blue btn-lg" [routerLink]="['/details']" routerLinkActive="router-link-active" >Sell Device</button>
  </div>
</div>
</div>
