.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
.bgimg {
  background-image: url(../../../assets/img/background.png);
  /* background-color: blue; */
  height: 40vh;
  width: 100%;
  z-index: -10;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h3 {
  padding-top: 5%;
  color: snow;
  font-size: 1.3rem;
  width: 100%;
  font-weight: 600;
}
h3 span {
  color: var(--orange);
  font-weight: 900 !important;
}
p {
  color: snow;
  width: 100%;
}
.custom-select {
  max-width: 45%;
  display: inline-block;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  vertical-align: middle;
  margin-left: 0px;

  background-color: rgba(255,255,255,.3);
  /* border: 1px solid #ced4da; */
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.select {
  -webkit-appearance: menulist;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  color: #ffffff;
  background-color: white;
  cursor: default;
  /* border-width: 1px; */
  border-style: solid;
  border-color: initial;
  border-image: initial;
  pointer-events: none;
}
select:not(:first-child) {

}
.custom-select option {
  background-color: var(--text-blue);
}

.custom-select:focus {
  outline: none;
}
/*.group {
  width: 100%;
  margin: auto;
  margin-right: 0;
  margin-left: 0;
}*/
.center {
  position: relative;
  top: 17%;
  left: 47%;
  -webkit-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
  -ms-transform: translate(-50%, -40%);
}
.text-center {
  text-align: center;
  width: 100%
}
/*.inp-sec {
  width: 85%;
}*/
.l-border {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  /* border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; */
}
.custom-btn span {
  margin-left: -.8rem;
  position: relative;
  border-radius: 50%;
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
  background-color: var(--orange);
  color: snow !important;
  border: none;
}
.input-group-append span {
  /* border-radius: 50% !important;
   position: relative; */
  left: -50%;
  z-index: 999;
  background-color: rgba(255,255,255,.3);
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.fa-search {
  color: snow;
  /* padding: .23rem .20rem; */
  font-size: 1.1rem;
}
.cat-seccion {
  padding-top: 5%;
}
/*.input-group  {
  flex-wrap: nowrap;
  justify-content: center;
}*/
select:not(:first-child){
  width: 50%;
}

/* modifying input css */
.inp-sec {
  width: 70%;
}
.group {
  width: 70%;
  margin: auto;
  justify-content: center;
  /* margin-right: 0; */
  /* margin-left: 0; */
}
.input-group {
    width: 95%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    /* width: 70%; */
    justify-content: center;
    /* margin-top: -15%; */
    top: 50%;
    left: 53%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%,-50%);

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap; /* Safari 6.1 +*/
}



/*Media Queries Responsive Css*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .center {
    top: 55% !important;
  }
  .inp-sec {
    width: 99%;
  }
  .group {
    width: 95%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* No greater than 450px, no less than 350px */
@media (max-width:450px) and (min-width:350px) {
  .center {
    top: 16% !important;
  }
  .cat-seccion {
    padding-top: 10% !important;
  }
  h3 {
    padding-top: 12% !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
