<div class="container-fluid">
    <nav class="d-flex">
        <ul class="nav">
          <li class="btn-lg btn active" id="sell"><a class="p-1" [routerLink]="['./sell']" routerLinkActive="router-link-active">SELL DEVICE</a></li>
          <li class="btn-lg btn" id="track"><a class="p-1" [routerLink]="['./track']" routerLinkActive="router-link-active" (click)="trackEvent($event)">TRACK ORDER</a></li>
        </ul>
    </nav>
      <router-outlet></router-outlet>
</div><!-- Container Fluid Ends-->
