<div class="container-fluid">
    <header class="bgimg display-container">
      <h3 class="text-center">
          your Device
      </h3>
      <p class="text-center">
        Keep an eye on your device
      </p>
        <div class="center text-center inp-sec">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Track your Device" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn custom-btn" type="button">
                        <i class="fas fa-angle-right"></i>
                    </button>
                </div>
            </div>
         </div>
         <p class="text-center cat-seccion">
           Or Sell another device <br/>
           <i class="fas fa-chevron-down"></i>
         </p>
    </header>
  </div>
