<div class="container">
  <hr>
  <h3 class="text-center mt-4">My Trades</h3>
  <hr>
  <div class="row">
    <div class="col-md-6 moDetails">
      <div class="row">
        <div class="col-4">
          <img src="#"
           alt="" class="img-fluid phone cartImg">
        </div>
        <div class="col-5">
          <ul>
            <li><strong>iPhone XR</strong></li>
            <li>carrier: </li>
            <li>Condition: </li>
            <li>Storage:</li>
            <li></li>
          </ul>
        </div>
        <div class="col-3">
            <ul>
                <li class="b">Price</li>
                <li>$425</li>
                <li class="b">Quantity</li>
                <li></li>
                <li><a href="#">
                  <img src="../../assets/Carrier Logo/tracking.png" alt=""
                  class="img-fluid trackImg text-center">
                  Track</a></li>
              </ul>
        </div>
      </div>

    </div>
  </div>
</div>
