
  <div class="nav-scroller mb-2 container-fluid bg-light navbar-light">
  <nav class="d-flex justify-content-end">
    <ul class="nav">
      <li class="nav-link"><a class="p-1 text-muted" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a></li>
      <li class="nav-link"><a class="p-1 text-muted" href="#">Enterprise</a></li>
      <li class="nav-link"><a class="p-1 text-muted" href="#">FAQs</a></li>
      <li class="nav-link"><a class="p-1 text-muted" href="#">About Us</a></li>
      <li class="nav-link"><a class="p-1 text-muted" href="#">Contact Us</a></li>
    </ul>
  </nav>
 </div>

