<app-side-nav></app-side-nav>
      <nav class="navbar navbar-expand-md navbar-light bg-color-w shadow">
          <a class="navbar-brand" [routerLink]="['/sell']" routerLinkActive="router-link-active" >
              <img src="../../assets/img/Sellli-logo.png" width="100" height="100" alt="" class="img-fluid">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav justify-content-end">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Sell Device</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Track Order</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" *ngIf="auth.afAuth.authState | async as user; else showLogin">
                      Hello {{ user.displayName }}
                    </a>
                    <button *ngIf="auth.afAuth.authState | async as user"
                    class="btn btn-outline-secondary btn-sm"
                    (click)="auth.logout()">Logout</button>
                    <ng-template #showLogin>
                        <button class="btn btn-outline-danger btn-sm"
                        data-toggle="modal" data-target="#exampleModal">Login Account</button>
                    </ng-template>
                  </li>
                </ul>
          </div>
        </nav>
        <app-nav-switch></app-nav-switch>

        <div class="modal fade modalLogin" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-center" id="exampleModalLabel">Account Login</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Check me out</label>
                          <p>Forgot your Password</p>
                        </div>
                        <button type="submit" class="btn btn-outline-primary pr-2" [routerLink]="['dashboard']"
                        routerLinkActive="router-link-active">Login</button>
                        <!-- (click)="auth.login()" -->
                        <button type="#" class="btn btn-outline-info">Create Account</button>
                      </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
