<app-side-nav></app-side-nav>
      <nav class="navbar navbar-expand-md navbar-light bg-color-w shadow">
          <a class="navbar-brand" [routerLink]="['/sell']" routerLinkActive="router-link-active" >
              <img src="../../assets/img/Sellli-logo.png" width="100" height="100" alt="" class="img-fluid">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav justify-content-end">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Sell Device</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Track Order</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/test']" routerLinkActive="router-link-active" >testForm</a>
                    </li>
                  <li class="nav-item md-dis-non">
                    <a class="nav-link" [routerLink]="['/enterprise']" routerLinkActive="router-link-active"  >Enterprise</a>
                  </li>
                  <li class="nav-item md-dis-non">
                    <a class="nav-link" [routerLink]="['/FAQs']" routerLinkActive="router-link-active" >FAQs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact</a>
                  </li>
                  <li class="nav-item pr-1">
                    <a class="nav-link" *ngIf="user$ | async as user; else showLogin">
                      Hello {{ user.displayName }}
                    </a>
                    <button *ngIf="auth.afAuth.authState | async as user"
                    class="btn btn-outline-secondary btn-sm"
                    (click)="auth.logout()">Logout</button>
                    <ng-template #showLogin>
                        <button class="btn btn-outline-danger btn-sm mr-2"
                        data-toggle="modal" data-target="#loginModal">Login</button>
                        <li class="nav-item">
                            <button class="btn btn-outline-info btn-sm"
                            data-toggle="modal" data-target="#createModal">Create Account</button>
                        </li>
                    </ng-template>
                  </li>
                </ul>
          </div>
        </nav>
        <app-nav-switch></app-nav-switch>

        <div class="modal fade modalLogin bg-login" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-center" id="exampleModalLabel">Account Login</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="signIn(s)" #s="ngForm">
                        <div class="form-group">
                          <label for="Email">Email address</label>
                          <input type="email" class="form-control"
                          id="Email" aria-describedby="emailHelp"
                          placeholder="Enter email" name="emails" ngModel>
                          <ng-template>
                              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          </ng-template>
                        </div>
                        <div class="form-group">
                          <label for="Password">Password</label>
                          <input type="password" class="form-control"
                          id="Password" placeholder="Password"
                          name="passwords" ngModel>
                        </div>
                        <div class="form-group form-check">
                          <input type="checkbox" class="form-check-input" id="Check1">
                          <label class="form-check-label" for="exampleCheck1">Check me out</label>
                          <p>Forgot your Password</p>
                        </div>
                        <!-- (click)="auth.login()" -->
                        <button class="btn btn-outline-danger" (click)="auth.login()">Login with Google</button>
                        <button type="submit" class="btn btn-outline-primary pl-3">Login</button>
                      </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Create Account Modal-->
          <div class="modal fade modalLogin bg-create" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Create Account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <form (ngSubmit)="onSignup(f)" #f="ngForm">
                          <div class="form-group">
                            <label for="InputEmail">Email address</label>
                            <input type="email" class="form-control"
                            id="InputEmail" aria-describedby="emailHelp"
                            placeholder="Enter email" name="email" ngModel>
                            <ng-template>
                                <small id="email" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </ng-template>
                          </div>
                          <div class="form-group">
                            <label for="InputPassword">Password</label>
                            <input type="password" class="form-control"
                            id="InputPassword" placeholder="Password"
                            name="password" ngModel>
                          </div>
                          <ng-template *ngIf="!auth.err">
                            <small class="form-text text-muted">
                                  {{ auth.err.message }}
                            </small>
                          </ng-template>
                          <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="Check">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            <p>Forgot your Password</p>
                          </div>
                          <button type="submit" class="btn btn-outline-primary pr-2">Login</button>
                          <!-- (click)="auth.login()" -->
                          <button type="#" class="btn btn-outline-info">Create Account</button>
                        </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
