<div class="container">
  <hr>
  <h3 class="text-center mt-4">Make Mmoney referring friends</h3>
  <hr>
  <p>Refer your friend to <strong>sellli,com</strong> and get $10 when they sell
    their electronic(s). It's really simple, and all you need to do is to share a link
    with them that's unique to your account. As a bonus, we'll also give your
    friend a bonus $5 on their trade in!
  </p>
  <p><strong>Just Share Your Referral Link</strong> <span>Copy link</span></p>
  <p class="referralLink" *ngFor="let r of refUrl">
    {{r}}
  </p>
  <small>
    *Referral only valid on trade-ins of $100 or more. Referral bonus contingent on successful
    completion of trade-in, and is awarded for trade-ins from new customers only. Referral bonus
    subject to change.
  </small>
  <hr>
  <h5 class="text-center">Referral History</h5>
  <p>
    No approved referrals found... start sharing oyur link and getting paid!
    Once customers you refer trade in their items ans successfully complete their offer,
    you'll see your rewards listed here.
  </p>
  <hr>
  <a href="#">Log Out</a>
</div>
