
<div class="container-fluid">
    <!--<app-nav-switch></app-nav-switch>-->
  <!-- <header class="bgimg display-container" id="home" [hidden]="!show">
        <div class="center text-center">
          <span class="text-white" style="font-size:90px">Hufix</span>
        </div>
    </header> -->
      <div class="main">
          <h4 class="text-center">
            How to Sell
          </h4>
          <p class="text-center">
            Simply select a divice with the search tool or choose from a
            Category, and select the details of your device
          </p>
          <!-- How to Sell Section -->
          <div class="htos">
            <div class="htos-body">
              <img src="../../assets/img/moneyStar2x.png" alt="" class="img-fluid htos-img m-auto img1">
              <div class="htos-section">
                <h4 class="text-center">
                  Get an Offer
                </h4>
                <p class="text-center">It takes less than a minute</p>
              </div>
            </div>

            <div class="htos-body">
                <img src="../../assets/img/box2x.png" alt="" class="img-fluid htos-img m-auto img">
                <div class="htos-section">
                  <h4 class="text-center">
                    Send it Free
                  </h4>
                  <p class="text-center">
                    For items worth $1 onwards
                  </p>
                </div>
            </div>
            <div class="htos-body">
                <img src="../../assets/img/moneySend2x.png" alt="" class="img-fluid htos-img m-auto img2">
                <div class="htos-section">
                  <h4 class="text-center">
                    Get the Cash
                  </h4>
                  <p class="text-center">
                    By Paypal or check
                  </p>
                </div>
            </div>
          </div><!-- How to Sell Section Ends-->
          <div class="container">
            <h3 class="text-center">Sell Devices</h3>
            <div class="flex-container cont-img child">
              <div>
                <img src="../../assets/icons-img/iphoneM-2x.png" alt="" class="img-fluid">
                <h4 class="text-center">iPhone</h4>
              </div>
              <div>
                  <img src="../../assets/icons-img/androidM-2x.png" alt="" class="img-fluid">
                  <h4 class="text-center">Samsung</h4>
              </div>
              <div>
                  <img src="../../assets/icons-img/phone-2x.png" alt="" class="img-fluid">
                  <h4 class="text-center">Other</h4>
              </div>
              <div>
                  <img src="../../assets/icons-img/appleT-2x.png" alt="" class="img-fluid">
                  <h4 class="text-center">iPad</h4>
              </div>
              <div>
                  <img src="../../assets/icons-img/androidT-2x.png" alt="" class="img-fluid">
                  <h4 class="text-center">Tablet</h4>
              </div>
              <div>
                  <img src="../../assets/icons-img/windowsLT-2x.png" alt="" class="img-fluid">
                  <h4 class="text-center">Laptop</h4>
              </div>
              <div>
                  <img src="../../assets/icons-img/appleLT-2x.png" alt="" class="img-fluid">
                  <h4 class="text-center">MacBook</h4>
              </div>
              <div>
                  <img src="../../assets/icons-img/windowsAO-2x.png" alt="" class="img-fluid">
                  <h4 class="text-center">Surface Studio</h4>
              </div>
              <div>
                  <img src="../../assets/icons-img/appleAO-2x.png" alt="" class="img-fluid">
                  <h4 class="text-center">iMac</h4>
              </div>
              <div>
                  <img src="../../assets/icons-img/appleSound-2x.png" alt="" class="img-fluid">
                  <h4 class="text-center">Mac Pro</h4>
              </div>
              <div>
                  <img src="../../assets/icons-img/iWatch-2x.png" alt="" class="img-fluid">
                  <h4 class="text-center">Apple Watch</h4>
              </div>
              <div>
                  <img src="../../assets/icons-img/anyDevice-2x.png" alt="" class="img-fluid">
                  <h4 class="text-center">All Devices</h4>
              </div>
            </div>
          </div>

          <app-call-action></app-call-action>
          <app-blog-articles></app-blog-articles>
          <app-subscribe-btn></app-subscribe-btn>
          <app-footer></app-footer>
        </div><!-- Main Section Ends-->
</div>
